<div class="modal fade" id="removeUserModal" tabindex="-1" aria-labelledby="removeUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="removeUserModalLabel">Remove User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="removeFirstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="removeFirstName" name="first_name">
            </div>
            <div class="mb-3">
              <label for="removeLastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="removeLastName" name="last_name">
            </div>
            <button type="submit" class="btn btn-danger">Remove</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  