{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div id="modal-response"></div> <!-- Any response from the server (via modal HTMX requests) are sent here -->
        <h2>Tabela Usuários</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Cargo</th>
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                <tr>
                    <td>{{ u.user_id }}</td>
                    <td>{{ u.user_f_name }}</td>
                    <td>{{ u.user_l_name }}</td>
                    <td>{{ u.user_oflvl }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mt-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createUserModal">Criar Usuário</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeUserModal">Remover Usuário</button>
        </div>

        <br>

        <h2>Tabela Autenticação de Usuários</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Senha (Hashed)</th>
                    <th>Salt</th>
                </tr>
            </thead>
            <tbody>
                {% for uA in users_auth %}
                <tr>
                    <td>{{ uA.u_auth_id }}</td>
                    <td>{{ uA.u_auth_email }}</td>
                    <td>{{ uA.u_auth_pass }}</td>
                    <td>{{ uA.u_auth_salt }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

        <h2>Tabela de Estacionamentos</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome do Estacionamento</th>
                    <th>CEP</th>
                    <th>Proprietário</th>
                </tr>
            </thead>
            <tbody>
                {% for pLot in parking_lots %}
                <tr>
                    <td>{{ pLot.id }}</td>
                    <td>{{ pLot.pl_name }}</td>
                    <td>{{ pLot.cep }}</td>
                    <td>{{ pLot.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="mt-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createParkingLotModal">Criar Estacionamento</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeParkingLotModal">Remover Estacionamento</button>
        </div>

        {% include 'modals/create_user_modal.html' %}

        {% include 'modals/create_parking_lot_modal.html' %}

        {% include 'modals/remove_user_modal.html' %}

        {% include 'modals/remove_parking_lot_modal.html' %}

    </div>
{% endblock %}
