{% extends 'base_bare.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div id="alert-response"></div>
    <div class="container mt-4 d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="card p-4" style="width: 400px;">
            <h1 class="card-title">Login</h1>
            <form id="loginForm" action="http://localhost:8080/api/login" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="input_email" required>
                </div>
                <div class="mb-3">
                    <label for="raw_password" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="user_password" name="input_password" required 
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*(),.?:{}|_-]).{8,}">
                    
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
            
            <p class="text-muted" style="font-style: italic;">
                <br>Email 'adm@admin.com'<br>Password 'Adm1098!'<br>is a pre-registered account.
            </p>
        </div>
    </div>

<script>
    console.log("Login script loaded"); // Confirm the script is loading

    document.getElementById('loginForm').addEventListener('submit', function(e) {
    e.preventDefault(); // Prevent the default form submission

    var formData = new FormData(this);
    fetch(this.action, {
        method: 'POST',
        body: formData,
        credentials: 'include' // Include credentials for cross-site requests
    })
    .then(response => {
        if (response.ok) {
            return response.json(); // Get the JSON response containing the tokens
        } else {
            return response.json().then(data => Promise.reject(data)); // Handle JSON error response
        }
    })
    .then(data => {
        // Set the tokens as cookies
        document.cookie = `AuthToken=${data.authToken}; path=/`;
        document.cookie = `RefreshToken=${data.refreshToken}; path=/`;

        // Redirect to the dashboard
        window.location.href = '/dashboard';
    })
    .catch(data => {
        // Display an error alert if there is an error message
        if (data && data.error) {
            console.log("Displaying error alert"); // Confirm error handling
            displayAlert(data.error, 'danger');
        } else {
            console.error('An unexpected error occurred.');
            displayAlert('An unexpected error occurred.', 'danger');
        }
    });
    });

    function displayAlert(message, type) {
        var alertContainer = document.getElementById('alert-response');
        var alertHtml = `
        <div class="alert alert-${type} alert-dismissible fade show" role="alert">
        ${message}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>`;
        alertContainer.innerHTML = alertHtml;
    }

</script>    
{% endblock %}
